<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Ventas Totales<span class="pull-right">{{ totalVentas }}</span></h3>
      </div>
      <div class="panel-body">
        <h4>Productos vendidos: <span class="pull-right">{{ totalItemVendidos }}</span></h4>
        <h4>Total ganancia: <strong class="pull-right">{{ totalVentasGanancia | currency:'COP':true:'2.2-2' }}</strong></h4>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div <div *ngIf="ventas; then tablaVentas; else mensajeSinDatos"></div>
<ng-template #tablaVentas>
  <h3>Lista de ventas:</h3>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">

        <table class="table table-hover table-condensed">

          <thead class="tabla__header">
            <tr>
              <th class="tabla_alineado-centro">Venta</th>
              <th class="tabla_alineado-centro">Vendedor</th>
              <th class="tabla_alineado-centro">Fecha Venta</th>
              <th class="tabla_alineado-centro">Total Venta</th>
            </tr>
          </thead>

          <tbody class="tabla__body">
            <tr *ngFor="let venta of ventas">
              <td>
                <ol>
                  <li *ngFor="let item of venta.items">Producto: {{ item.producto }} <span class="pull-right"> {{ item.total | currency:'COP':true:'2.2-2' }} </span></li>
                </ol>
                <!--<div *ngFor="let item of venta.items">
                  <p>Producto: {{ item.producto }} <span class="pull-right"> {{ item.total | currency:'COP':true:'2.2-2' }} </span></p>
                </div>-->
              </td>
              <td class="tabla_alineado-centro">{{ venta.vendedor }}</td>
              <td class="tabla_alineado-derecha">{{ venta.createdAt | date: 'medium' }}</td>
              <td class="tabla_alineado-derecha tabla_columna-total">
                <strong>{{ venta.totalVenta | currency:'COP':true:'2.2-2' }}</strong>
              </td>
            </tr>
          </tbody>

          <tfoot class="tabla__footer">
            <tr>
              <td colspan="3" class="tabla_alineado-derecha">Total: </td>
              <td class="tabla_alineado-derecha">
                <strong>{{ totalVentasGanancia | currency:'COP':true:'2.2-2' }}</strong>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #mensajeSinDatos>
  <div class="alert alert-warning">
    <p>No hay datos. Realice antes una venta para tener información detallada en esta sección</p>
  </div>
</ng-template>